.service-box-bg-1 {
    background-image: url(img-1.png);
}

.service-box-bg-2 {
    background-image: url(img-2.png);
}

.service-box-bg-3 {
    background-image: url(img-3.png);
}

.section-padding {
    padding: 100px 0;
}

.service-box-bg {
    height: 225px;
    background-size: cover;
    background-position: center;
}

.service-box-inner {
    border: 1px solid #f3f3f3;
    border-top: 0 solid;
    padding: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.single-service-box {
    position: relative;
}

.service-box-more-wrap {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    text-align: center;
}

.service-box-inner h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.service-meta {
    opacity: .5;
    font-size: 16px;
    margin: 0;
}

.bordered-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #f3f3f3;
    padding: 10px 30px;
    color: #999;
    text-transform: uppercase;
    font-weight: 700;   
    background-color: #fff;
}